footer {
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;

    small {
        font-size: 12px;
        color: rgb(128, 128, 128);
        font-weight: 500;
    }
}